{% for category in categories %}
    {% for item in items[category.id] %}
        <tr>
            <td>
                {{ item.idCategory.name }} - {{ item.name }}
            </td>
            <td>
                {{ item.price | craue_currency('EUR') }}
            </td>
            <td>
                <table width="100%">
                    <tbody>
                        {% include 'OkraBundle:Default:statsitemcount.html.twig'%}                           
                    </tbody>
                </table>
            </td>
        </tr>
    {% endfor %}  
{% endfor %}     