{% extends "::base.html.twig" %}


{% block title %}
    {% trans %}New Category{% endtrans %}      
{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>{% trans %}New Category{% endtrans %}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
